# Independent Chi-Square Test
#### This is an activity to learn how to run an indpendent chi-square test. 

## Load in Data and Libraries

In [1]:
import pandas as pd
from scipy import stats

In [3]:
lipstick = pd.read_csv('lead_lipstick.csv')
lipstick.head()

  JRC_code purchCntry prodCntry    Pb  sdPb shade prodType  priceCatgry
0     C135         NL        NL  3.75  0.24   Red       LP            2
1      C18         FI        FI  2.29  0.07   Red       LP            2
2      C20         FI        IT  1.27  0.06   Red       LP            2
3     C164         DE        FR  1.21  0.06   Red       LP            2
4      C71         MT        UK  0.85  0.04   Red       LP            2

## Create a Contingency Table

In [4]:
lipstick_crosstab = pd.crosstab(lipstick['shade'], lipstick['priceCatgry'])

In [5]:
lipstick_crosstab

priceCatgry   1   2   3
shade
Brown        20  30  10
Pink         20  49  12
Purple        8  23   6
Red           5  33   7

## Running the Independent Chi-Square Test

In [6]:
stats.chi2_contingency(lipstick_crosstab)

(7.860569553614045,
 0.2484973879479863,
 6,
 array([[14.26008969, 36.32286996,  9.41704036],
        [19.25112108, 49.03587444, 12.71300448],
        [ 8.79372197, 22.39910314,  5.80717489],
        [10.69506726, 27.24215247,  7.06278027]]))

### Our p-value is insignificant. There is no significant relationship between lipstick shade and price catergory. We do meet our assumption of at least 5 entries per expected cell, so we don't need to worry about the validity of these results.